# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Maker Team hierarchy
#
# Maker Contributors (@square/maker-contributors)
# - have write access to repo, can push commits & open PRs
#
# Maker Reviewers (@square/maker-reviewers)
# - are also contributors
# - have write access to repo, can push commits & open PRs
# - can approve PRs that change components, docs, or lab experiments
#
# Maker Core Team (@square/maker-core-team)
# - are also reviewers
# - have admin access to repo, can do anything
# - can approve any PRs

# by default all files are owned by the Core Team
*						@square/maker-core-team

# @privatenumber was a former Core Team member and has
# been grandfathered into owning these directories
build					@square/maker-core-team @privatenumber
.github					@square/maker-core-team @privatenumber

# lab experiment changes be can approved by reviewers
/lab/components			@square/maker-reviewers
/lab/experiments		@square/maker-reviewers

# component changes can be approved by reviewers
/src/components			@square/maker-reviewers

# except for changes to the Theme component,
# which must be approved by the Core Team
/src/components/Theme	@square/maker-core-team

# docs changes can be approved by reviewers
*.md					@square/maker-reviewers

# all other changes to all other files have
# to be approved by the Core Team
