# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*	@square/maker-core-contributors
build	@square/maker-core-contributors @privatenumber
.github	@square/maker-core-contributors @privatenumber
