# Mac OS X
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# NPM package distribution files
/components/
/utils/

# Styleguide & Lab deploy distribution files
/.dist/
/.dist-test/
