:root {
	/* stylelint-disable-next-line value-keyword-case */
	--system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

	/* min breakpoint config */
	--min-resolution: 320; /* arbitrary value */
	--min-font-size: var(--maker-fonts-baseSize, 16);
	--min-font-size-scale: var(--maker-fonts-sizeScale, 1.15);

	/* min type scale */
	--min-fs--2: calc(var(--min-fs--1) / var(--min-font-size-scale));
	--min-fs--1: calc(var(--min-fs-0) / var(--min-font-size-scale));
	--min-fs-0: var(--min-font-size);
	--min-fs-1: calc(var(--min-fs-0) * var(--min-font-size-scale));
	--min-fs-2: calc(var(--min-fs-1) * var(--min-font-size-scale));
	--min-fs-3: calc(var(--min-fs-2) * var(--min-font-size-scale));
	--min-fs-4: calc(var(--min-fs-3) * var(--min-font-size-scale));
	--min-fs-5: calc(var(--min-fs-4) * var(--min-font-size-scale));
	--min-fs-6: calc(var(--min-fs-5) * var(--min-font-size-scale));
	--min-fs-7: calc(var(--min-fs-6) * var(--min-font-size-scale));

	/* max breakpoint config */
	--max-resolution: 1280; /* arbitrary value */
	--max-font-size: var(--min-font-size);
	--max-font-size-scale: calc(var(--min-font-size-scale) + 0.11); /* arbitrary value */

	/* max type scale */
	--max-fs--2: calc(var(--max-fs--1) / var(--max-font-size-scale));
	--max-fs--1: calc(var(--max-fs-0) / var(--max-font-size-scale));
	--max-fs-0: var(--max-font-size);
	--max-fs-1: calc(var(--max-fs-0) * var(--max-font-size-scale));
	--max-fs-2: calc(var(--max-fs-1) * var(--max-font-size-scale));
	--max-fs-3: calc(var(--max-fs-2) * var(--max-font-size-scale));
	--max-fs-4: calc(var(--max-fs-3) * var(--max-font-size-scale));
	--max-fs-5: calc(var(--max-fs-4) * var(--max-font-size-scale));
	--max-fs-6: calc(var(--max-fs-5) * var(--max-font-size-scale));
	--max-fs-7: calc(var(--max-fs-6) * var(--max-font-size-scale));

	/* interpolation variables */
	--resolution-range: calc(var(--max-resolution) - var(--min-resolution));
	--resolution: 100vw;
	--resolution-progress: calc(var(--resolution) - (var(--min-resolution) * 1px));
	--interpolate-by: calc(var(--resolution-progress) / var(--resolution-range));
	--range-fs--2: calc(var(--max-fs--2) - var(--min-fs--2));
	--range-fs--1: calc(var(--max-fs--1) - var(--min-fs--1));
	--range-fs-0: calc(var(--max-fs-0) - var(--min-fs-0));
	--range-fs-1: calc(var(--max-fs-1) - var(--min-fs-1));
	--range-fs-2: calc(var(--max-fs-2) - var(--min-fs-2));
	--range-fs-3: calc(var(--max-fs-3) - var(--min-fs-3));
	--range-fs-4: calc(var(--max-fs-4) - var(--min-fs-4));
	--range-fs-5: calc(var(--max-fs-5) - var(--min-fs-5));
	--range-fs-6: calc(var(--max-fs-6) - var(--min-fs-6));
	--range-fs-7: calc(var(--max-fs-7) - var(--min-fs-7));

	/* fluid type scale */
	--fs--2: max(12px, calc(var(--min-fs--2) * 1px + var(--range-fs--2) * var(--interpolate-by)));
	--fs--1: max(14px, calc(var(--min-fs--1) * 1px + var(--range-fs--1) * var(--interpolate-by)));
	--fs-0: calc(var(--min-fs-0) * 1px + var(--range-fs-0) * var(--interpolate-by));
	--fs-1: calc(var(--min-fs-1) * 1px + var(--range-fs-1) * var(--interpolate-by));
	--fs-2: calc(var(--min-fs-2) * 1px + var(--range-fs-2) * var(--interpolate-by));
	--fs-3: calc(var(--min-fs-3) * 1px + var(--range-fs-3) * var(--interpolate-by));
	--fs-4: calc(var(--min-fs-4) * 1px + var(--range-fs-4) * var(--interpolate-by));
	--fs-5: calc(var(--min-fs-5) * 1px + var(--range-fs-5) * var(--interpolate-by));
	--fs-6: calc(var(--min-fs-6) * 1px + var(--range-fs-6) * var(--interpolate-by));
	--fs-7: calc(var(--min-fs-7) * 1px + var(--range-fs-7) * var(--interpolate-by));

	/* line height config */
	--line-height: 1.5;
	--line-height-scale: 0.95;

	/* line height scale */
	--lh--2: calc(var(--lh--1) / var(--line-height-scale));
	--lh--1: calc(var(--lh-0) / var(--line-height-scale));
	--lh-0: var(--line-height);
	--lh-1: calc(var(--lh-0) * var(--line-height-scale));
	--lh-2: calc(var(--lh-1) * var(--line-height-scale));
	--lh-3: calc(var(--lh-2) * var(--line-height-scale));
	--lh-4: calc(var(--lh-3) * var(--line-height-scale));
	--lh-5: calc(var(--lh-4) * var(--line-height-scale));
	--lh-6: calc(var(--lh-5) * var(--line-height-scale));
	--lh-7: calc(var(--lh-6) * var(--line-height-scale));
}

.maker-step-minus-2 {
	font-size: var(--fs--2);
	line-height: var(--lh--2);
}

.maker-step-minus-1 {
	font-size: var(--fs--1);
	line-height: var(--lh--1);
}

.maker-step-0 {
	font-size: var(--fs-0);
	line-height: var(--lh-0);
}

.maker-step-1 {
	font-size: var(--fs-1);
	line-height: var(--lh-1);
}

.maker-step-2 {
	font-size: var(--fs-2);
	line-height: var(--lh-2);
}

.maker-step-3 {
	font-size: var(--fs-3);
	line-height: var(--lh-3);
}

.maker-step-4 {
	font-size: var(--fs-4);
	line-height: var(--lh-4);
}

.maker-step-5 {
	font-size: var(--fs-5);
	line-height: var(--lh-5);
}

.maker-step-6 {
	font-size: var(--fs-6);
	line-height: var(--lh-6);
}

.maker-step-7 {
	font-size: var(--fs-7);
	line-height: var(--lh-7);
}
