name: Deploy Styleguide

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  deploy-styleguide:
    name: Deploy Styleguide
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Maker Repo master branch
        uses: actions/checkout@v2

      - name: Checkout nested Maker Repo deploys branch in .dist directory
        uses: actions/checkout@v2
        with:
          repository: square/maker
          ref: deploys
          path: .dist

      - name: Set Github Actions Bot username & email
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          cd .dist
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Setup Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install NPM dependencies
        run: npm ci

      - name: Build & Deploy Styleguide
        run: npm run styleguide-deploy

